<section
  id="profile-edit"
  class="p-6 content-section w-full max-w-screen-sm mx-auto"
>
  <div id="<%= dom_id(@profile) %>">
    <div class="mb-4">
      <h1 class="text-5xl font-bold leading-none mb-2">Edit your profile</h1>
    </div>
    <%= render "form", profile: @profile %>
  </div>
</section>
