<section id="<%= dom_id(@profile) %>" class="p-6 mx-auto">
  <div class="w-full max-w-lg mb-4">
    <h1 class="text-5xl font-bold leading-none mb-2">Complete your profile</h1>
    <p class="text-lg font-medium leading-none">
      You are almost there, complete your profile to finalize your account
      setup</p>
  </div>
  <%= render "form", profile: @profile %>
</section>
