<div
  class="
    hidden md:flex md:w-1/2 bg-black border-r border-gray-500 items-center
    justify-center flex-col
  "
>
  <h1 class="text-white text-6xl font-bold">
    OdinBook
  </h1>

  <p class="text-white text-lg font-medium mt-2 text-center max-w-md">
    Join a thriving community where connections flourish! OdinBook brings
    friends closer, making every moment more meaningful. Share, laugh, and stay
    in touch—because great friendships deserve a great place to grow.
  </p>
</div>
