<% if type == "signup" %>
  <% @github_text = "Sign up with GitHub" %>
  <% @google_text = "Sign up with Google" %>
<% else %>
  <% @github_text = "Sign in with GitHub" %>
  <% @google_text = "Sign in with Google" %>
<% end %>

<a
  href="#"
  class="
    w-full flex items-center justify-center gap-3 bg-white border border-gray-300
    text-gray-700 px-6 py-2 rounded-full hover:bg-gray-50 transition-colors
  "
>
  <svg
    class="w-5 h-5"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path
      d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
    ></path>
  </svg>
  <%= @github_text %>
</a>

<a
  href="#"
  class="
    w-full flex items-center justify-center gap-3 bg-white border border-gray-300
    text-gray-700 px-6 py-2 rounded-full hover:bg-gray-50 transition-colors
  "
>
  <svg
    class="w-5 h-5"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <rect width="20" height="16" x="2" y="4" rx="2"></rect>
    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
  </svg>
  <%= @google_text %>
</a>

<div class="flex items-center my-4">
  <div class="flex-grow border-t border-gray-300"></div>
  <span class="px-4 text-gray-300">or</span>
  <div class="flex-grow border-t border-gray-300"></div>
</div>
