<div class="flex items-center">
  <div class="flex gap-1 ">
    <%= link_to post.author.name,
    post.author.profile,
    class: "font-bold text-gray-200 hover:underline",
    data: {
      turbo_frame: "_top",
    } %>
    <%= link_to "@#{post.author.profile.username}",
    post.author.profile,
    class: "font-medium text-gray-600 hover:underline",
    data: {
      turbo_frame: "_top",
    } %>
  </div>
  <span class="px-1 text-gray-500">·</span>
  <span class="text-gray-500">
    <%= time_ago_in_words(post.created_at) %>
    ago
  </span>
</div>
