.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "nav-sidebar content-section right-sidebar";
  justify-content: center;
  margin: 0 auto;
}

.nav-sidebar {
  grid-area: nav-sidebar;
}

.content-content {
  grid-area: content-area;
}

.right-sidebar {
  grid-area: right-sidebar;
}

@keyframes burst {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.animate-burst {
  animation: burst 0.5s ease-in-out;
}
