<div class="flex items-center">
  <input
    data-password-visibility-target="checkbox"
    data-action="password-visibility#toggle"
    type="checkbox"
    id="show-password"
    name="show-password"
    class="h-4 w-4 text-blue-500 border-gray-300 rounded focus:ring-blue-500"
  >
  <label for="show-password" class="ml-2 block text-sm">Show Password</label>
</div>
